<!-- <!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div id="tab">
        <button class="tablink" routerLink="/" >Home</button>
        <button class="tablink" routerLink="/login">Login</button>
        <button class="tablink" routerLink="/products" >Products</button>
        <button class="tablink" routerLink="/contact" >Contact</button>
        <button class="tablink" routerLink="/about" >About</button>
    
        <button class="tablink" routerLink="/" >Home</button>
        <button class="tablink" routerLink="/staff">Staff</button>
    </div>
</body>
</html>  -->
<header class="header">
    <img src="https://png.pngtree.com/png-vector/20190507/ourmid/pngtree-vector-bank-icon-png-image_1024570.jpg" 
    width="60" height="60"
    alt="Bank logo" class="bank-logo">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/approve_beneficiary">Staff</a></li>
      <li><a routerLink="/create_staff">Admin</a></li>
    </ul>
  </header>