<table class="table">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Customer Id</th>
        <th>Enable Disable </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.customerId }}</td>
        <td>
          <button class="status" [class.enabled]="user.status" (click)="toggleEnabled(user)">
            {{ user.status ? 'Disabled' : 'Enabled' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  