<div class="parent-div">
    <div class="child-div">
        <div class="button-group">
            <button
              *ngFor="let button of buttons"
              [class.active]="selectedValue === button.value"
              (click)="onButtonClick(button.value)"
            >
              {{ button.label }}
            </button>
          </div>
    </div>
    <div class="child-div">
        <div class="col-9">
            
            <app-account-list *ngIf="selectedValue === 'Account List'"></app-account-list>
            <app-create-account *ngIf="selectedValue === 'Create Account'"
            (changeSelectedValue)="onSelectedValueChange($event)"></app-create-account>
            <app-add-beneficiary *ngIf="selectedValue === 'Add Beneficiary'"
            (changeSelectedValue)="onSelectedValueChange($event)"></app-add-beneficiary>
            <app-delete-beneficiary *ngIf="selectedValue === 'Remove Beneficiary'"
            ></app-delete-beneficiary>
          </div>
    </div>
  </div>  