<div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>Account No</th>
          <th>Account Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.accountNumber}}</td>
          <td>{{ item.accountType }}</td>
          <td>
            <button class="delete-button" (click)="onDelete(item)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  